<% rounded_corner(:title => "Announcements", :size => 'lrg') do %>
  <%= button_to "New", new_announcement_path(), :method => :get %>
  <table>
    <tr>
      <th>Message</th>
      <th>Start</th>
      <th>End</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    <% for announcement in @announcements %>
      <tr>
        <td><%= announcement.message %></td>
        <td><%= announcement.starts_at.to_formatted_s(:rfc822) %></td>
        <td><%= announcement.ends_at.to_formatted_s(:rfc822) %></td>
        <td><%= link_to image_tag('edit.png', :title => "Edit Announcement"), edit_announcement_path(announcement)%></td>
        <td><%= link_to image_tag('delete.png', :title => "Delete Announcement"), announcement_path(announcement), :method => :delete %></td>
      </tr>
    <% end %>
  </table>
  <div class="clear_div"></div>
<% end %>
