<tr align="left" valign="top">
  <td width="70px"><%= work_info.company_name %> </td>
  <td width="70px"><%= work_info.industry %></td>
  <td width="70px"><%= work_info.occupation %></td>
  <td width="160px"><%= work_info.job_description %></td>
  <td width="160px"><%= link_to work_info.company_website, work_info.company_website if work_info.company_website %></td>
</tr>
