 <div class="forum_text">
   <%=image_tag('forum.png')%>
   <div class="forum_title"><%= link_to sanitize(forum.name),forum_path(forum)%></div>
   <div class="forum_details"><%= forum_details(forum) %></div>
   <div class="forum_post"><%= forum_last_post_info(forum)%></div>
   <div class="forum_description">
     <%= forum.description%>
   </div>
 </div>

 