<div id="column_l">
  <h2 class="page_title"><%= SITE_NAME %> Events
    <%= link_to image_tag('add_new_post.png', 
                          :title=>"Create New Event", 
                          :class=>"add_new_post2"), 
                new_admin_event_path() if @u.is_admin? %>
  </h2>
  <% if @events.empty? %>
    <div class="widget_large">
      
      <div class="comments"><%= SITE_NAME %> has no blog posts.</div>
      <span class="widget_lrg_btm"></span>
    </div>
  <% else %>
    <%= render :partial => 'admin/events/event', :collection => @events%>
    <div class="clear_div"></div>     
    <%= will_paginate @events%>
  <% end %>
</div>