<%-
comment ||= @comment
truncate = truncate.nil? ? true : truncate


youtube_videos = comment.comment.scan(/\[youtube:+.+\]/)
c = comment.comment.dup.gsub(/\[youtube:+.+\]/, '')
-%>
<div id="<%= comment.dom_id %>">
  <div class="comments">
    <%= icon comment.profile, :small%>
    <strong><%= link_to h(comment.profile.full_name), comment.profile %> commented
    <%= time_ago_in_words comment.created_at %> ago</strong>
    <div class="comment_text"><%= sanitize(textilize(c)) %></div>
  </div>
  <% if !comment.blank? && @p && check_comment(comment) %>
    <%= link_to_remote image_tag('delete.png', :class => 'delete'), 
        :url => delete_comment_path(comment), :method => :delete %>
  <% end %>
</div>