<h1>Listing site_contents</h1>

<table border='1px'>
  <tr>
    <th>Parent</th>
    <th>Name</th>
  </tr>

<% for site_content in @site_contents %>
  <tr>
    <td><%=h site_content.parent.name if site_content.parent%></td>
    <td><%=h site_content.name %></td>
    <td><%= link_to 'Show', admin_site_content_path(site_content) %></td>
    <td><%= link_to 'Edit', edit_admin_site_content_path(site_content) %></td>
    <td><%= link_to 'Destroy', admin_site_content_path(site_content), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Site Content', new_admin_site_content_path %>
