<% cache 'members' do %>
  <% rounded_corner(:title => 'Committee Members') do %>
    <div class='blog_text'>
      <p><b>Patron:</b></p>   
      <p>H. H. Rajmata Gayatri Devi of Jaipur</p>
    </div>
  
    <div class='blog_text'>
      <p><b>Chairperson:</b></p>   
      <p>Mrs. Neera Mathur (Principal)</p>
    </div>
  
    <div class='blog_text'>
      <p><b>Teacher Representatives:</b></p>
      <p>Mrs. Leela Mathur</p>    
      <p>Mrs. Pratibha Bhardwaj</p>
    </div>
  
    <div class='blog_text'>
      <p><b>President :</b></p>
      <%= profile_link('Siddhartha' , 'Totuka' , '1992')%>
      <p>Mobile: +91 9829055551</p>
    </div>
  
    <div class='blog_text'>
      <p><b>Secretary:</b></p>
      <%= profile_link('Jatin' , 'Hariani' , '1993')%>
      <p>Mobile : +91 9828153190</p>
    </div>
  
    <div class='blog_text'>
      <p><b>Vice President:</b></p>
      <%= profile_link('Prashant' , 'Kothary' , '1997')%>
      <p>Mobile : +91 9829066656</p>
    </div>
  
    <div class='blog_text'>
      <p><b>Joint Secretary:</b></p>
      <%= profile_link('Ruchi' , 'Durlabhji' , '2000')%>   
      <p>Mobile : +91 9214361303</p>
   </div>

    <div class='blog_text'>
      <p><b>Treasurer:</b></p>
      <%= profile_link('Nikhil' , 'Totuka' , '2006')%>
      <p>Mobile : +91 9829486990</p>
    </div>
   
    <div class='blog_text'>
      <p><b>Elected Members</b></p>
      <%= profile_link('Vijay' , 'Khemka' , '1993')%>
      <p>Mobile : +91 9829058000</p>
    </div>
  
    <div class='blog_text'>
      <%= profile_link('Mohit' , 'Poddar' , '2000', 'Dr. Mohit Poddar')%>
      <p>Mobile : +91 9352665965</p>
    </div>
  
    <div class='blog_text'>
      <%= profile_link('Gaurav' , 'Mathur' , '2001', 'Ar. Gaurav M. Mathur')%>
      <p>Mobile : +91 9414047509</p>
    </div>
  
    <div class='blog_text'>
      <%= profile_link('Shashwat' , 'Shah' , '2003')%>
      <p>Mobile : +91 9323324325</p>
    </div>
  
    <div class='blog_text'>
      <%= profile_link('Shikha' , 'Durlabhji' , '2004')%>
      <p>Mobile : +91 9214360259</p>
    </div>
  
    <div class='blog_text'>
      <%= profile_link('Ambuja' , 'Agarwal' , '2004')%>
      <p>Mobile : +91 9829314041</p>
    </div>
  
    <div class='blog_text'>
      <%= profile_link('Ankita' , 'Pansari' , '2006')%>
      <p>Mobile : +91 9829049611</p>
    </div>  
  <% end %>
<% end %>

